<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatementsOutputPath" value="c:\MonthlyStatements\Statements\" />
    <!-- Please include final forward or backward slash in path (e.g. c:\statements\) -->
    <add key="ErrorLogOutputPath" value="c:\MonthlyStatements\Statements\errors\" />
    <!-- Please include final forward or backward slash in path (e.g. c:\statements\logs\) -->
    <add key="SymitarStatementDataFilePath" value="evgmsfsv01\home$\cframe\Visual Studio 2013\Projects\MonthlyEStatements\MonthlyEStatements\MonthlyEStatements\templates\TestingStatement.xml"/>
    <add key="MoneyPerksFilePath" value="C:\MonthlyStatements\MoneyPerks.txt" />
    <add key="StatementTemplateFirstPageFilePath" value="C:\Samples\XML\statement-template-first-page.pdf" />
    <add key="StatementTemplateFilePath" value="C:\Samples\XML\statement-template.pdf" />
    <add key="StatementDisclosuresTemplateFilePath" value="C:\Samples\XML\statement-back.pdf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>